<navegacion titulo="detalleInmueble.titulo"></navegacion>
<md-content layout="column" layout-align="end center" layout-padding>
	<!--{{detalleInmueble.Inmueble}}-->
        
    

        <div layout="row">
            <strong>Clave Catastral: </strong> {{detalleInmueble.Inmueble.clavecatastral}}
        </div>
        <div layout="row">
            <strong>Direccion: </strong> {{detalleInmueble.Inmueble.direccioninmueble}}
        </div>
        <div layout="row">
            <strong>Valor : </strong> ${{detalleInmueble.Inmueble.valor}}
        </div>
        <div layout="row">
            <strong>Metros de frente: </strong> {{detalleInmueble.Inmueble.metroslineales}} m
        </div>
        <div layout="row">
            <strong>Superficie: </strong> {{detalleInmueble.Inmueble.areasuperficial}} m
        </div>
        <div layout="row">
            <strong>Nombre del propietario actual: </strong> {{detalleInmueble.Inmueble.propietario.nombre + " " 
                                                     + detalleInmueble.Inmueble.propietario.apellido}}
            
        </div>
        <div layout="row">
            <strong>Numero de contribuyente: </strong> {{detalleInmueble.Inmueble.propietario.nit}}
            
        </div>
    
    <md-button class="md-primary md-raised" ng-click="detalleInmueble.agregarPropietario($event)">
       Realizar un traspaso de propiedad
    </md-button> 
</md-content>
