<navegacion titulo="dashboard.titulo"></navegacion>
<md-content class="md-padding"  layout="column" layout-padding>
	<div layout="row">
        <div flex="30"></div>        
        <md-card>
            <img ng-src="/assets/img/equipo.png"  class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar contribuyente</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Este opcion presenta el formulario para agregar un nuevo contribuyente al sistema en caso de no existir.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="#/agregar-contribuyente" class="md-raised md-primary">Agregar contribuyente</md-button>

            </md-card-actions>
        </md-card>        
        <md-card>
            <img ng-src="/assets/img/shuffle.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Cuenta corrientes</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Busqueda de cuentas en el sistema
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="/#cuentas-corrientes" class="md-raised md-primary">Realizar traspaso</md-button>
            </md-card-actions>
        </md-card>
        
        <div flex="30"></div>
    </div>
    <div layout="row">
        <div flex="30"></div>
        <md-card>
            <img ng-src="/assets/img/cityscape.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar inmueble</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Se presenta el formulario para agregar nuevos inmuebles al sistema.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="/#agregar-inmueble" class="md-raised md-primary">Agregar un inmueble</md-button>

            </md-card-actions>
        </md-card>
        
        <md-card>
            <img ng-src="/assets/img/solicitud.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Busqueda de inmuebles</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Lista los inmuebles almacenados en el sistema
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="/#buscar-inmueble" class="md-raised md-primary">Buscar inmueble</md-button>

            </md-card-actions>
        </md-card>
        <div flex="30"></div>
    </div>
</md-content>
