<navegacion titulo="accounts.titulo"></navegacion>
<md-content layout="column" layout-padding>
    <div layout="row" ng-repeat="cuenta in accounts.cuentas">
        <div flex="25"></div>
        <div flex="50" layout="column">
            <div layout="row"><strong>Numero de cuenta: </strong> {{"  " + cuenta.idcuentacorriente}}</div>
            <div layout="row"><strong>Fecha de Ultimo Pago: </strong> {{"  " + cuenta.fechaultimopago | formatearFecha}}</div>
            <div layout="row"><strong>Dias desde el ultimo pago: </strong>{{"  " + cuenta.fechaultimopago | formatearPago}}</div>
            <div><strong flex="50">Estado de la cuenta: </strong> </div>
            <div>
                <md-button md-no-ink ng-click="accounts.detalle($event, cuenta)" ng-if="(cuenta.fechaultimopago | formatearPago)<60" class="md-primary">Solvente</md-button>
                <md-button md-no-ink ng-click="accounts.detalle($event, cuenta)" ng-if="(cuenta.fechaultimopago | formatearPago)>60" class="md-warn">En mora</md-button>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>
        <div flex="25"></div>
    </div>
</md-content>
